/*css das noticias*/
body{
    background-color: #5D5D5D;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    color: black;
}
.quadrado{
    background-color: #202020;
    border-radius: 20px;
    display: flex;
}
.sinopse{
    text-align: center;
    font-size: large;
    justify-content: center;
    color: white;
}
img{
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.h1s {
    text-align: center;
    background-color: #020079;
    margin-left: 500px;
    margin-right: 500px;
    color: #ffff;
    border: solid 1.5px black;
    border-radius: 10px;
    margin-bottom: 90px;
}
.linhas{
    color: grey;
    margin-bottom: 0;
}
#title{
    margin-left: 30px;
    font-size: 50px;
}
.letra_cinza {
    color: grey;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.letra_cinza2 {
    color: grey;
    font-size: 15px;
    margin-bottom: 0;
}

#banner {
    margin-top: -5px;
}

#div_principal {
    display: flex;
    justify-content: center;
}

#titulo_principal {
    font-size: 35px;
    margin-bottom: 5px;
    margin-top: 0;
}
#texto_materia_principal{
    font-size: 20px;
    margin-right: 50px;
    text-align: justify;
}
#imagem_e_p_Carina {
    display: flex;
}
#link_G1 {
    margin-right: 50px;
}
#article_main {
    width: 60%;
    margin-left: 10px;
}

.imagens {
    border-radius: 10px;
}

.perfil_post {
    display: flex;
    align-items: center;
}

.perfil_post h3 {
    margin-right: 5px;
    margin-left: 5px;
}

#article_aside {
    width: 34%;
    margin-right: 14px;
    border-left:solid 2px #FF0000;
}

.div_subnoticia {
    display: flex;
}

.site_terceiro {
    text-decoration: none;
    color: black;
}

.titulo_subnoticia {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}

.grupo_subnoticia {
    display: inline;
    padding-left: 5px;
}

.texto_subnoticia {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    text-align: justify;
}
body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    border-color: black;
}
#article1{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5px;
}
#article2{
    display: flex;
    justify-content: center;
}

.categoria1 {
    text-decoration: none;
    color: white;
    width: 33%;
}

.felipe {
    background-color: #020079;
    border-radius: 5px;
    box-shadow: 5px 5px white;
    text-align: center;
    margin-bottom: 2.5px;
}
#footer{
    margin: -5px
}

@media (max-width: 450px) {
    body {
        margin: 0;
        font-size: 20px;
        width: 100%;
    }

    #paiDeTodos {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }

    #title {
        font-size: 30px;
        text-align: center;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 3%;
        align-content: space-between;
    }

    #imagem_valorant {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subtitulo,
    h2 {
        font-size: 25px;
        text-align: center;
        padding: 0 !important;
        margin: 0;
        width: 100%;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    p,
    .texto {
        font-size: 30px;
        text-align: justify;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #explicacao_jogo {
        width: 92%;
    }
    #tyL{
        width: 100%;
    }
}