/*cor de fundo*/
body{
    background-color: white;
    margin: 0%;
}
/*css da div*/
div{
    display: flex;
    width: 100%;
    text-align: center;
}
/*o título*/
h1{
    text-align: center;
    color: black;
    font-family: serif;
}
    /*os quadrados*/
.quadrados{
    background-color: #020079;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 20px;
}
/*os nomes dos livros e autores*/
.nomedolivro{
    font-family: serif;
    color: white;
    text-decoration: none;
    list-style: none;
}
/*imagens*/
.imagem{
    border-radius: 20px;
    margin-top: 5px;
}
/*tirar o risco das palavras nos quadrados*/
.meio{
    text-decoration: none;
}
.quadrado{
    text-align: center;
    margin-left: 60px;
}
#footer{
    margin: -5px
}