/*cor de fundo*/
body{
    background-color: #020079;
}
/*o título*/
h1{
    text-align: center;
    color: white;
    font-family: serif;
}
/*os quadrados*/
.quadrados{
    color: white;
    background-color: white;
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
    border-radius: 20px;
    display: flex;
}
/*os nomes dos livros e autores*/
.nomedolivro{
    font-family: serif;
    size: 40px;
    color: black;
    text-decoration: none;
    list-style: none;
}
/*imagens*/
.imagem{
    border-radius: 20px;
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}