body{
    margin: 0;
}

#title{
    margin: 30px;
    font-size: 50px;
    text-align: center;
}
#imagem_filme{
    text-align: center;
    margin-top: -10px;
}
.section{
    margin-left:45px;
    margin-right: 45px;
    padding-left: 30px;
    padding-bottom: 15px;
}
.subtitulo{
    font-size: 40px;
    margin-left: 80px;
}
.div_funcoes{
    padding-left: 30px;
}
.texto{
    padding-left: 15px;
    font-size: 30px;
    text-align: justify;
}
#imagem_meio{
    text-align: center;
}
#article_comentarios {
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
    margin-right: 45px;
}

.letra_cinza3 {
    color: grey;
    font-size: 37.5px;
    margin-bottom: 15px;
}

.quadrado_comentarios {
    border: 2.25px solid grey;
    border-radius: 7.5px;
    padding-right: 1050px;
    padding-bottom: 225px;
    padding-top: 10.5px;
    padding-left: 10.5px;
    margin: 7.5px;
    margin-bottom: 22.5px;
}

.linha_article {
    margin-left: 20px;
    margin-right: 20px;
}
#atores {
    display: flex;
    padding-top: 8px;
}
#footer{
    margin: -5px
}

@media (max-width: 650px){
    body{
        margin: 0;
        font-size: 20px;
        width: 100%;
    }
    
    #title{
        font-size: 50px;
        text-align: center;
        width: 80%;
    }
    #imagem_valorant{
        text-align: center;
        margin-top: -10px;
    }
    .section{
        width: 100%;
        justify-content: center;
    }
    .subtitulo{
        font-size: 40px;
        text-align: center;
    }
    .div_funcoes{
        padding-left: 30px;
    }
    .texto{
        font-size: 30px;
        text-align: justify;
        width: 90%;
    }
    #imagem_meio{
        text-align: center;
    }
    #article_comentarios {
        display: flex;
        justify-content: space-between;
        margin-left: 45px;
        margin-right: 45px;
        width: 400px;
    }
    
    .letra_cinza3 {
        color: grey;
        font-size: 37.5px;
        margin-bottom: 15px;
    }
    
    .quadrado_comentarios {
        border: 2.25px solid grey;
        border-radius: 7.5px;
        padding-bottom: 225px;
        padding-top: 10.5px;
        padding-left: 10.5px;
        margin: 7.5px;
        margin-bottom: 22.5px;
    }
    
    .linha_article {
        margin-left: 20px;
        margin-right: 20px;
    }
    #footer{
        margin: -5px
    }

    #imagem1{
        width: 90%;
        margin-left: 0;
    }
    #atores {
        display: inline;
        padding-top: 8px;
        width: 100%;
        text-align: center;
}
#explicacao_filme{
    width: 85%;
}
#imagem1{
    width: 100%;
}
}
