body{
    margin: 0%;
    background-color: #202020;
    background-size: cover;
    color: black;


}

#form{
    display: flex;
    flex-direction: column;
    font-family: Verdana;
    font-size: 17px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    width: 95%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0,0,0,0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0,0,0,0.9);
    box-shadow: 16px 14px 31px 1px rgba(0,0,0,0.9);
    margin-top: 30px;
    transition: 2s;
    transform: scale(1.0);
}

input {
    padding: 8px;
}

#posts {
    margin-bottom: 10px;
}

iframe {
    width: 100%;
}

#form2 {
    height: 65vh;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 20px;
}

#titulo{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    color: grey;
    border: grey 1px solid;
}

#categoria{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    color: grey;
    border: grey 1px solid;
}

#mensagem{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    color: grey;
    border: grey 1px solid;
}

#data{
    margin-bottom: 15px;
    border-radius: 5px;
    padding-bottom: 25px;
    padding-left: 2px;
    font-size: 15px;
    color: grey;
    border: grey 1px solid;
    margin-right: 1650px;
}

#autor{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    color: grey;
    border: grey 1px solid;
}

.label{
    margin-bottom: 5px;
}

#botao{
    background-color: rgb(38, 184, 38);
    padding: 10px;
    padding-left: 20px;
    border-radius: 5px;
    color: white;
    margin-right: 1677px;
    cursor:pointer;
}

#botao:hover{
    background-color: whitesmoke;
    color: rgb(38, 184, 38);
    border: grey 1px solid;
}

.post{
    display: flex;
    flex-direction: column;
    width: 80%;
}

#h1_post{
    margin: 0;
    margin-bottom: 6px;
    font-weight: bold;
}

#data_post{
    margin: 0;
    margin-bottom: 5px;
    color: grey;
}

#descricao_post{
    margin: 0;
    margin-bottom: 5px;
    color: grey;
}

#categoria_post{
    margin: 0;
    margin-bottom: 5px;
    color: grey;
}

#autor_post{
    margin: 0;
    margin-bottom: 5px;
    color: grey;
}

#botoes{
    width: 25%;
    text-align: right;
    margin-top: 40px;
}
#botoes2{
    width: 25%;
    text-align: right;
    margin-top: 40px;
}
.botao{
    background-color: red;
    border-radius: 5px;
    color: white;
    cursor:pointer;
    margin-left: 25vw;
    padding: 10px;
    width: 20%;
}
.botao:hover{
    background-color: whitesmoke;
    color: red;
    border: grey 1px solid;
}
.post{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content:unset ;
    margin-left: 0;
    margin-right: 0;
    font-family: Verdana;
    font-size: 17px;
    height: 170px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0,0,0,0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0,0,0,0.9);
    box-shadow: 16px 14px 31px 1px rgba(0,0,0,0.9);
    margin-top: 30px;
    transition: 2s;
    transform: scale(1.0);
}
#d_botao{
    margin-top: 6.5vh;
    margin-right: 17vw;
    width: 20%;
}