body{
    background-color:#202020
}
div{
    text-align: center;
    margin-top: 200px;
}
#texto{
    color:#FF0000;
    font-size: larger;
    margin-top: 5px;
    text-align: center;
    }

#centro{
    text-align: center;
    color: #FF0000;

}
#header{
    width: 100%;
}
#footer{
    margin-bottom: 0%;
    width: 100%;
}