body{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
}
div{
    display: flex;
    width: 100%;
    text-align: center;
}
.quadrados{
    background-color: #020079;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 20px;
}
.nomedolivro{
    text-decoration: none;
    color: white;
    list-style: none;
    font-family: serif;
    
}
.imagem{
    margin-top: 5px;
    border-radius: 20px;
}
.meio{
    text-align: center;
    margin-left: 60px;
    text-decoration: none;
}
#dracula{
    margin-left: 70px;
}