body{
    margin: 0;
}
#header{
    margin-bottom: -15px;
}
#title{
    margin: 30px;
    font-size: 50px;
    text-align: center;
}
#imagem_valorant{
    text-align: center;
}
.section{
    margin-left:30px;
    margin-right: 30px;
}
.subtitulo{
    font-size: 30px;
}
.div_funcoes{
    padding-left: 20px;
}
.texto{
    padding-left: 10px;
    font-size: 20px;
    text-align: justify;
}
.linhas{
    margin-left: 10px;
    margin-right: 10px;
}
#imagem_valorant{
    margin: 0px;
}
.agentes{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-right: 35px;
    margin-left: 35px;
}
.hr_controladores{
    margin-right: 100px;
    margin-left: 100px;
}
#agentes_exclusive{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-right: 90px;
    margin-left: 5px;
}
#div_agentes{
    margin-right:  55px;;
    margin-left: 20px;
}
