body{
    margin: 0;
}
#title{
    margin: 30px;
    font-size: 50px;
    text-align: center;
}
#imagem_valorant{
    text-align: center;
}
.section{
    margin-left:30px;
    margin-right: 30px;
}
.subtitulo{
    font-size: 30px;
}
.texto{
    padding-left: 10px;
    font-size: 20px;
    text-align: justify;
}