<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="categoriasmusica.css">
    <title>Document</title>
</head>
<body>
    <h1 id="title3">Categorias</h1>
    <article class="first">
        <section id="fps_card">
            <h1>pop</h1>
            <p></p>
            <hr width="50px">
            <a class="a_categorias" href="../articles/musicas/pop/lemonade.html">
                <p class="jogos">Lemonade</p>
            </a>
            <a class="a_categorias" href="../articles/musicas/pop/mudaramopop.html">
                <p class="jogos">Músicas qye mudaram o pop</p>
            </a>
            <a class="a_categorias" href="../articles/musicas/pop/rihanna.html">
                <p class="jogos">rihanna</p>
            </a>

        </section>
        <section id="online_card">
            <h1>Rock</h1>
            <p></p>
            <hr width="50px">
            <a class="a_categorias" href="../articles/musicas/rock/defleppard.html">
                <p class="jogos">Rick Allen</p>
            </a>
            <a class="a_categorias" href="../articles/musicas/rock/fourtynine.html">
                <p class="jogos">'39</p>
            </a>
            <a class="a_categorias" href="../articles/musicas/rock/singstreet.html">
                <p class="jogos">Sing street</p>
            </a>
            <a class="a_categorias" href="../articles/musicas/rock/tragediarazzle.html">
                <p class="jogos">Hanoi Rocks</p>
            </a>

        </section>
        <section id="modo_historia_card">
            <h1>Brasil</h1>
            <p></p>
            <hr width="50px">
            <a class="a_categorias" href="../articles/musicas/musica_brasileira/caraterbr.html">
                <p class="jogos">Músicas que todo BR conhece</p>
            </a>
            <a class="a_categorias" href="../articles/musicas/musica_brasileira/estigma.html">
                <p class="jogos">Marginalização do funk</p>
            </a>
            <a class="a_categorias" href="../articles/musicas/musica_brasileira/maioresbr.html">
                <p class="jogos">Maiores artistas BR's</p>
            </a>
           
        </section>
        <section id="moba_card">
            <h1>Curiosidades</h1>
            <p></p>
            <hr width="50px">
            <a class="a_categorias" href="../articles/musicas/curiosidades/clipes.html">
                <p class="jogos">Maiores clipes da história</p>
            </a>
            <a class="a_categorias" href="../articles/musicas/curiosidades/jovens.html">
                <p class="jogos">O que jovens escutam?</p>
            </a>
            <a class="a_categorias" href="../articles/musicas/curiosidades/tiktok.html">
                <p class="jogos">Tiktok</p>
            </a>
            <a class="a_categorias" href="../articles/musicas/curiosidades/duplosentido.html">
                <p class="jogos">Duplo sentido</p>
            </a>

        </section>
    </article>
</body>
</html>