<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="header.css">
    <title>Red V</title>
    <link rel="icon" type="image/x-icon" href="../assets/images/icon (2).png">
</head>

<body>
    <div>
        <a href="../index.html" class="logo" target="_parent">
            <img src="../assets/images/logo 2.png" alt="logo do blog" width="166" height="100">
        </a>
        <nav class="dp-menu">
            <ul>
                <li>
                    <a href="#">MENU</a>
                </li>
                <li>
                    <a href="" target="_parent">CONTATO</a>
                </li>
                <li>
                    <a href="" target="_parent">FEEDBACK</a>
                </li>
                <li>
                    <a href="" target="_parent">SOBRE</a>
                </li>
                <li>
                    <a href="" target="_parent">CATEGORIES</a>
                    <ul class="DESBUGAR">
                        <li><a href="#">filmes</a></li>
                        <li><a href="#">Beleza</a></li>
                        <li><a href="#">Músicas</a></li>
                        <li><a href="#">Jogos</a></li>
                        <li><a href="#">Livros</a></li>
                        <li><a href="#">Vestibular</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" target="_parent">SENAI</a>
                    <ul>
                    <li><a href="#">História</a></li>
                    <li><a href="#">Fundação</a></li>
                    <li><a href="#">Cursos</a></li>
                    <li><a href="#">Segurança</a></li>
                    <li><a href="#">Mudanças</a></li>
                    <li><a href="#">Curiosidades</a></li>
                </ul>
                </li>
            </ul>
        </nav>
    </div>
</body>

</html>