<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="header.css">
    <title>Red V</title>
    <link rel="icon" type="image/x-icon" href="../assets/images/ICON.png">
</head>

<body>
    <header>
    <div>
        <a href="../index.html" class="logo" target="_parent">
            <img src="../assets/images/Logo RNW.png" alt="logo do blog" width="166" height="100">
        </a>
        <nav class="dp-menu">
            <ul>
                <li>
                    <a href="../index.html" target="_parent">MENU</a>
                </li>
                <li>
                    <a href="../pages/contato.html" target="_parent">CONTATO</a>
                </li>
                <li>
                    <a href="../pages/feedback.html" target="_parent">FEEDBACK</a>
                </li>
                <li>
                    <a href="../pages/sobre.html" target="_parent">SOBRE</a>
                </li>
                <li class="desbugar_mn">
                    <a href="" target="_parent">CATEGORIES</a>
                    <ul class="DESBUGAR">
                        <li><a href="../pages/categories/filmes_series.html">filmes</a></li>
                        <li><a href="../pages/categories/beleza.html">Beleza</a></li>
                        <li><a href="../pages/categories/musica.html">Músicas</a></li>
                        <li><a href="../pages/categories/jogos.html">Jogos</a></li>
                        <li><a href="../pages/categories/livros.html">Livros</a></li>
                        <li><a href="../pages/categories/vestibular.html">Vestibular</a></li>
                    </ul>
                </li>
                <li class="desbugar_mn">
                    <a href="" target="_parent">SENAI</a>
                    <ul>
                    <li><a href="../pages/articles/senai/historia.html">História</a></li>
                    <li><a href="../pages/articles/senai/hierarquia.html">Hierarquia</a></li>
                    <li><a href="../pages/articles/senai/cursos.html">Cursos</a></li>
                    <li><a href="../pages/articles/senai/protocolo_de_seguranca.html">Segurança</a></li>
                    <li><a href="../pages/articles/senai/mudancas.html">Mudanças</a></li>
                    <li><a href="../pages/articles/senai/curiosidades.html">Curiosidades</a></li>
                </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
</body>

</html>