html body {
    height: 100%;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #5D5D5D;
    font-family: 'Playfair Display', serif;
}
div {
    display: flex;
    align-items: center;
    position: relative;
}
nav {
    margin-left: 500px;
}

:root {
    --cor-fundo: #5D5D5D;
    --cor-hover: #FF8200;
    --cor-primaria: #ffff;
}

.dp-menu ul {
    list-style-type: none;
    padding: 0;
}

.dp-menu ul {
    background-color: var(--cor-fundo);
}

.dp-menu ul li {
    display: inline;
    position: relative;
    float:left;
    width: 200px;
    line-height: 40px;
}

.dp-menu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background .3s;
    border-radius: 5px;
    margin-right: 100px;
}

.dp-menu ul li a:hover {
    background-color: var(--cor-hover);
    border-radius: 5px;
    margin-top: 10px;
    color: #202020;
    margin-right: 100px;

}

/*sub menu*/
.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul {
    width: 150px
}

.dp-menu ul ul li a {
    display: block;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');