<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="header.css">
    <title>Red News</title>
    <link rel="icon" type="image/x-icon" href="../assets/images/ICON.png">
</head>

<body>
    <header>
    <div>
        <a href="../index.html" class="logo" target="_parent">
            <img src="../assets/images/Logo RNW.png" alt="logo do blog" width="166" height="100">
        </a>
        <nav class="dp-menu">
            <ul>
                <li>
                    <a href="../index.html" target="_parent">MENU</a>
                </li>
                <li>
                    <a href="../pages/contato.html" target="_parent">CONTATO</a>
                </li>
                <li>
                    <a href="../pages/feedback.html" target="_parent">FEEDBACK</a>
                </li>
                <li>
                    <a href="../pages/sobre.html" target="_parent">SOBRE</a>
                </li>
                <li>
                    <a href="../pages/categorias.html" target="_parent">CATEGORIAS</a>
                <li>
                    <a href="../pages/Senai.html" target="_parent">SENAI</a>
        </nav>
    </div>
</header>
</body>

</html>