body {
    margin: 0px;
    background-color: white;
    font-family: manu;
    padding: 0;
    border-color: black;
    text-align: center;
    color: white;
}
#header{
    margin-bottom: -15px;
}
.linhas {
    color: grey;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: white;
    margin: 10px 0;
    }
#title {
    margin-left: 45px;
    font-size: 75px;
    color: grey;
}
#title2 {
    margin-left: 45px;
    font-size: 75px;
    color: black;
    text-align: left;
}
#title3 {
    margin-left: 45px;
    font-size: 75px;
    color: black;
}
.letra_cinza {
    color: grey;
    font-size: 22.5px;
    margin-right: 7.5px;
    margin-left: 7.5px;
}

.letra_cinza2 {
    color: grey;
    font-size: 22.5px;
    margin-bottom: 0;
    text-align: left;
}

#banner {
    margin-top: -5px;
}

#div_principal {
    display: flex;
    justify-content: center;
    margin-bottom: 22.5px;
}

#titulo_principal {
    font-size: 52.5px;
    margin-bottom: 7.5px;
    margin-top: 0;
    text-align: left;
}

#texto_materia_principal {
    font-size: 30px;
    margin-right: 30px;
    text-align: justify;
}

#article_main {
    width: 60%;
    margin-left: 15px;
}

.imagens {
    border-radius: 15px;
}

.perfil_nome {
    color: black;
}

.perfil_post {
    display: flex;
    align-items: center;
}

.perfil_post h3 {
    margin-right: 7.5px;
    margin-left: 7.5px;
}

#article_aside {
    width: 34%;
    margin-right: 21px;
    border-left:solid 2px #FF0000;
    padding-left: 8px;
}

.div_subnoticia {
    display: flex;
}

.site_terceiro {
    text-decoration: none;
    color: black;
}

.titulo_subnoticia {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    text-align: left;
}

.grupo_subnoticia {
    display: inline;
    padding-left: 7.5px;
}

.texto_subnoticia {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7.5px;
    text-align: justify;
}

#article_comentarios {
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
    margin-right: 45px;
}

.letra_cinza3 {
    color: grey;
    font-size: 37.5px;
    margin-bottom: 15px;
    text-align: left;
}

.quadrado_comentarios {
    border: 2.25px solid grey;
    border-radius: 7.5px;
    padding-right: 1050px;
    padding-bottom: 225px;
    padding-top: 10.5px;
    padding-left: 10.5px;
    margin: 7.5px;
    margin-bottom: 22.5px;
}

.linha_article {
    margin-left: 30px;
    margin-right: 30px;
}

@font-face {
    font-family: manu;
    src: url('https://fonts.googleapis.com/css2?family= Areia movediça & display=swap');
}

.a_categorias {
    text-decoration: none;
    margin: 15px 0;
}

li {
    list-style-type: none;
}

#drama_card {
    background-image: url("https://i.pinimg.com/564x/2e/f9/dd/2ef9dd957ae636bf9ac8b0f3c17a8726.jpg");
    background-size: cover;
    opacity: 0.1px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 100px;
    margin-right: 20px;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    margin-bottom: 2.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
    width: 180px;

}

#drama_card:hover {
    background-image: url("https://i.pinimg.com/564x/2e/f9/dd/2ef9dd957ae636bf9ac8b0f3c17a8726.jpg");
    opacity: 0.1px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    margin-bottom: 2.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 2s;
    transform: scale(1.1);
    
}

#fantasia_card {
    background-image: url("https://i.pinimg.com/564x/31/25/f6/3125f68b7f9f913b09da89787f4eb26e.jpg");
    background-size: cover;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    margin-bottom: 2.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
    width: 180px;
}

#fantasia_card:hover {
    background-image: url("https://i.pinimg.com/564x/31/25/f6/3125f68b7f9f913b09da89787f4eb26e.jpg");
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    margin-bottom: 2.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 2s;
    transform: scale(1.1);
}

#nacionais_card {
    background-image: url("https://i.pinimg.com/564x/18/8a/d1/188ad199793fd8a77c2a3d4076e2d73e.jpg");
    background-size: cover;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    margin-bottom: 2.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
    width: 180px;
    
}

#nacionais_card:hover {
    background-image: url("https://i.pinimg.com/564x/18/8a/d1/188ad199793fd8a77c2a3d4076e2d73e.jpg");
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    margin-bottom: 2.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 2s;
    transform: scale(1.1);
}

#suspense_card {
    background-image: url("https://i.pinimg.com/564x/0d/02/51/0d02512145400179ae3aab592eab485b.jpg");
    background-size: cover;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    margin-bottom: 2.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
    width: 180px;
}
#suspense_card:hover {
    background-image: url("https://i.pinimg.com/564x/0d/02/51/0d02512145400179ae3aab592eab485b.jpg");
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    margin-bottom: 2.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 2s;
    transform: scale(1.1);
    
}


.first {
    display: flex;
    margin-top: 112.5px;
    text-align: center;
    justify-content: center;
}

.second {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.jogos{
    color:white;
}
#footer{
    margin: -5px
}