body {
    background-color: white;
    text-align: center;
    color: white;
    
}

a {
    text-decoration: none;
    color: white;
    margin: 10px 0;
}
li {
    list-style-type: none;
}
.section_card {
    background-color: #020079;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 10px;
    margin-right: 10px;
     -webkit-box-shadow: 16px 14px 31px 1px rgba(0,0,0,0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0,0,0,0.9);
    box-shadow: 16px 14px 31px 1px rgba(0,0,0,0.9);
    
    
}
 .first {
    display: flex;
    margin-top: 75px;
 }
 .second {
    display: flex;
    justify-content: center;
    margin-top: 10px;
 }
