body{
    background-color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.article1{
    background-color: whitesmoke;
}
.section12{
    background-color: rgb(#020079);
    width: 90px;
    height: 90px;
    margin-right: 10px;
}
.section22{
    background-color: rgb(#020079);
    width: 90px;
    height: 90px;
    margin-right: 10px;
}
#div_12{
    display: flex;
}
.musica{
    margin-right: 50px;
}
.beleza{
    margin-right: 50px;
}
.jogos{

}
.filmeseries{
    margin-right: 50px;
}
.livros{
    margin-right: 50px;
}
.vestibular{

}