body{
    background-color: #ffff;
    margin: 0;
    padding: 0;
    color: black;
    font-family:'Playfair Display', serif;
}
#header:hover {
    height: 470px;
    margin-bottom: -320px;
}
.h1s {
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    color: #ffff;
    margin-bottom: 30px;
    color: black;
    text-decoration: underline #FF8200;
}
#h2_1 {
    margin-bottom: 30px;
    color: #ffff;
    margin-left: 100px;
    margin-right: 850px;
    color: black;
    border-left:solid 2px #FF8200;
    padding-left: 5px;
}

.linhas{
    color: grey;
    margin-bottom: 0;
}
#title{
    margin-left: 30px;
    font-size: 50px;
}
.letra_cinza {
    color: grey;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.letra_cinza2 {
    color: grey;
    font-size: 15px;
    margin-bottom: 0;
}

#banner {
    margin-top: -5px;
}

#div_principal {
    display: flex;
    justify-content: center;
}

#titulo_principal {
    font-size: 35px;
    margin-bottom: 5px;
    margin-top: 0;
}
#texto_materia_principal{
    font-size: 20px;
    margin-right: 50px;
    text-align: justify;
    margin-top: 40px;
}
#imagem_e_p_Carina {
    display: flex;
    margin-top: 100px;
}
#link_G1 {
    margin-right: 50px;
}
#article_main {
    width: 60%;
    margin-left: 10px;
}

.imagens {
    border-radius: 10px;
}

.perfil_post {
    display: flex;
    align-items: center;
}

.perfil_post h3 {
    margin-right: 5px;
    margin-left: 5px;
}

#article_aside {
    width: 34%;
    margin-right: 14px;
    border-left:solid 2px #FF8200;
    padding-left: 7px;
}

.div_subnoticia {
    display: flex;
    color: rgb(75, 75, 75);
}

.site_terceiro {
    text-decoration: none;
    color: black;
}

.titulo_subnoticia {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    color: black;
}

.grupo_subnoticia {
    display: inline;
    padding-left: 5px;
}

.texto_subnoticia {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    text-align: justify;
    color: rgb(75, 75, 75);
}
#article1{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5px;
}
#article2{
    display: flex;
    justify-content: center;
}

.categoria1 {
    text-decoration: none;
    color: black;
    width: 33%;
}

.felipe {
    background-color: #5D5D5D;
    border-radius: 5px;
    box-shadow: 5px white;
    text-align: center;
    margin-bottom: 2.5px;
    color: whitesmoke;
}
#texto_categorias_3 {
    height: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

