* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
    ;
}

/* ===== Colours ===== */
:root {
    --body-color: white;
    --nav-color: #444444;
    --side-nav: #444444;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #444444;
}

body {
    height: 100vh;
    background-color: var(--body-color);
}

body.dark {
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}

nav {
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav {
    border: 1px solid #393838;
}

nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle {
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before {
    opacity: 1;
}

.nav-bar .darkLight-searchBox {
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.dark-light i,
.searchToggle i {
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun {
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
}

.searchBox {
    position: relative;
}

.searchBox .search-field {
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active~.search-field {
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before {
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input {
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input {
    color: var(--text-color);
}

.search-field i {
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i {
    color: var(--text-color);
}

.darkLight-searchBox {
    display: none;
    visibility: hidden;
}

@media (max-width: 450px) {
    nav .nav-bar .sidebarOpen {
        display: block;
        padding-left: 10vw;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu {
        left: -0%;
    }

    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose {
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a {
        display: block;
        margin-top: 20px;
    }
}

body{
    background-color: #ffff;
    margin: 0;
    padding: 0;
    color: black;
    font-family:'Playfair Display', serif;
}

#header {
    margin-bottom: -15px;
}
.h1s {
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    color: #ffff;
    margin-bottom: 30px;
    color: black;
    font-size: 75px;
}
#h2_1 {
    margin-bottom: 30px;
    color: #ffff;
    margin-left: 50px;
    margin-right: 850px;
    color: black;
    padding-left: 5px;
    font-size: 60px;
}

.linhas{
    color: grey;
    margin-bottom: 0;
}
#title{
    margin-left: 30px;
    font-size: 75px;
}
.letra_cinza {
    color: grey;
    font-size: 22.5px;
    margin-right: 5px;
    margin-left: 5px;
}

.letra_cinza2 {
    color: grey;
    font-size: 22.5px;
    margin-bottom: 0;
}

#banner {
    margin-top: -5px;
}

#div_principal {
    display: flex;
    justify-content: center;
}

#titulo_principal {
    font-size: 52.5px;
    margin-bottom: 5px;
    margin-top: 0;
}
#texto_materia_principal{
    font-size: 30px;
    margin-right: 50px;
    text-align: justify;
    margin-top: 40px;
}
#imagem_e_p_Carina {
    display: flex;
    margin-top: 100px;
}
#link_G1 {
    margin-right: 50px;
}
#article_main {
    width: 60%;
    margin-left: 10px;
}

.imagens {
    border-radius: 10px;
}

.perfil_post {
    display: flex;
    align-items: center;
}

.perfil_post h3 {
    margin-right: 5px;
    margin-left: 5px;
}

#article_aside {
    width: 34%;
    margin-right: 14px;
    border-left:solid 2px #FF0000;
    padding-left: 7px;
}

.div_subnoticia {
    display: flex;
    color: rgb(75, 75, 75);
}

.site_terceiro {
    text-decoration: none;
    color: black;
}

.titulo_subnoticia {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    color: black;
}

.grupo_subnoticia {
    display: inline;
    padding-left: 5px;
}

.texto_subnoticia {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    text-align: justify;
    color: rgb(75, 75, 75);
}
#article1{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5px;
}
#article2{
    display: flex;
    justify-content: center;
}

.categoria1 {
    text-decoration: none;
    color: black;
    width: 33%;
}

.felipe {
    background-color: #5D5D5D;
    border-radius: 5px;
    box-shadow: 5px white;
    text-align: center;
    margin-bottom: 2.5px;
    color: whitesmoke;
}
#texto_categorias_3 {
    height: 20px;
}

#article_comentarios {
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
    margin-right: 45px;
}

.letra_cinza3 {
    color: grey;
    font-size: 56.25px;
    margin-bottom: 15px;
}

.quadrado_comentarios {
    border: 2.25px solid grey;
    border-radius: 7.5px;
    padding-right: 1050px;
    padding-bottom: 225px;
    padding-top: 10.5px;
    padding-left: 10.5px;
    margin: 7.5px;
    margin-bottom: 22.5px;
}


@font-face {
    font-family: manu;
    src: url('https://fonts.googleapis.com/css2?family= Areia movediça & display=swap');
}

.a_categorias {
    text-decoration: none;
    margin: 15px 0;
}

li {
    list-style-type: none;
}

#fps_card {
    background-image: url(https://play-lh.googleusercontent.com/UVVPpEnR8NIiRtarmsbuI171Lin3GtcQoCJOi7BFDv_WajaDreXJT7xB-HR3PxxTH8G7);
    background-size: cover;
    opacity: 0.15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 30px;
    margin-right: 30px;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    margin-bottom: 3.75px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
    width: 270px;
    height: 200px;
}

#fps_card:hover {
    background-image: url(https://img.freepik.com/fotos-gratis/vista-do-papel-amarrotado-branco_1194-7544.jpg?w=2000);
    opacity: 0.15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    margin-bottom: 2.5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    transition: 2s;
    transform: scale(1.1);

}


#online_card {
    background-image: url(https://img.freepik.com/vetores-gratis/pessoas-focadas-estudando-na-escola-on-line_74855-5834.jpg);
    background-size: cover;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 30px;
    margin-right: 30px;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    margin-bottom: 3.75px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
    width: 270px;
}

#online_card:hover {
    background-image: url(https://www.reipel.com.br/wp-content/uploads/2021/05/Papel-40-KG-A4-REIPEL.jpeg);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    margin-bottom: 3.75px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    transition: 2s;
    transform: scale(1.1);
}

#modo_historia_card {
    background-image: url(http://www.isocrm.com.br/wp-content/uploads/independent-thinking-steps.jpg);
    background-size: cover;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 30px;
    margin-right: 30px;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    margin-bottom: 3.75px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
    width: 270px;

}

#modo_historia_card:hover {
    background-image: url(https://pt.canson.com/sites/default/files/styles/large/public/medias-images/canson-fabrication-2.jpg?itok=dPDt-iyl);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    margin-bottom: 3.75px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    transition: 2s;
    transform: scale(1.1);
}

#moba_card {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh8kqnGCc6sA-YSLmTLdAPUGUNqenQPVbWJXO88xLzeq-Bvgv4UvugJePFADlIbDE20t0&usqp=CAU);
    background-size: cover;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 30px;
    margin-right: 30px;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    margin-bottom: 3.75px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
    width: 270px;
}

#moba_card:hover {
    background-image: url(https://cdn.leroymerlin.com.br/products/papel_de_parede_liso_branco_com_brilho_0,53x10m_1567888997_9fec_600x600.jpg);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
    margin-bottom: 3.75px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    transition: 2s;
    transform: scale(1.1);
}

.first {
    display: flex;
    margin-top: 112.5px;
    text-align: center;
    justify-content: center;
}

.second {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.jogos{
    color:black;
}
#title_categorias {
    text-align: center;
    font-size: 75px;
}
a {
    text-decoration: none;
    color: black;
}

#anuncio {
    margin-top: 15px;
}

.h1_categorias {
    font-size: 23px;
}

.descricao_redacao {
        margin-left: 20px;
        font-size: 20px;
}

#linhas_categorias {
    background-color: black;
    width: 200px;
    border: solid black 1.5px;
}

.grupo_de_comentarios_de_pessoas {
    display: flex;
}

.comentarios_pessoas {
    display: flex;
    margin-left: 20px;
    padding: 20px;
    border: solid 2px gray;
    width: 30%;
    margin-top: 6px;
    border-radius: 20px;
}

.espacamento {
    margin-left: 10px;
}

.postado_por {
    color: grey;
    font-size: 30px;
    margin-top: -20px;
}

.ler_mais {
    color: blue;
    text-decoration: underline;
    text-align: center;
}

#footerMobile {
    display: none;
    visibility: hidden;
}

#footer1 {
    display: inline;
    visibility: visible;
    margin: 0%;
    padding:0%;
}

@media (max-width: 650px){
    body {
        margin: 0px;
        padding: 0%;
    }
    #header{
        margin-bottom: -15px;
        width: 200vh;
        height: 150px;
    }
    .linhas {
        color: grey;
        margin-bottom: 0;
    }
    
    #title {
        margin-left: 5vh;
        font-size: 10vh;
        justify-content: center;
        width: 200vh;
        
    }
    #title2 {
        margin-left: 5vh;
        font-size: 10vh;
        justify-content: center;
        width: 200vh;
    }
    #title3 {
        margin-left: 45px;
        font-size: 10vh;
        color: black;
    }
    .letra_cinza {
        color: grey;
        font-size: 6vh;
        margin-right: 3vh;
        margin-left: 3vh;
        display: flex;
    }
    
    .letra_cinza2 {
        color: grey;
        font-size: 10vh;
        margin-bottom: 0;
        text-align: left;
        width: 200vh;
    }
    
    #banner {
        margin-top: -5px;
        width: 450px;
        height: 150px;
    }
    
    #div_principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 22.5px;
    }
    
    #titulo_principal {
        font-size: 52.5px;
        margin-bottom: 7.5px;
        margin-top: 0;
        text-align: left;
    }
    
    #texto_materia_principal {
        font-size: 8vh;
        margin-right: 30px;
        text-align: justify;
    }
    
    #article_main {
        width: 60%;
        margin-left: 15px;
    }

    #imagem1{
        width: 200vh;
    }

    #imagem2{
        width: 420%;
    }
    
    .imagens {
        border-radius: 15px;
        width: 75vh;
         height: 70vh;
    }
    
    .perfil_nome {
        font-size: 7vh;
        display: flex;
        margin-right: 7.5px;
        margin-left: 7.5px;
    }
    
    .perfil_post {
        display: flex;
        align-items: center;
        width: 200vh;
    }
    
    .perfil_post h3 {
        margin-right: 7.5px;
        margin-left: 7.5px;
    }
    
    #article_aside {
        width: 34%;
        margin-right: 21px;
        border-left:solid 2px #FF0000;
        padding-left: 7px;
        display: flex;
        flex-direction: column;
    }
    
    .div_subnoticia {
        display: flex;
    }
    
    .site_terceiro {
        text-decoration: none;
        color: black;
    }
    
    .titulo_subnoticia {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 7vh;
    }
    
    .grupo_subnoticia {
        display: inline;
        padding-left: 7.5px;
    }
    
    .texto_subnoticia {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 7.5px;
        font-size: 7vh;
        width: 100vh;
    }
    
    #article_comentarios {
        display: flex;
        justify-content: space-between;
        margin-left: 45px;
        margin-right: 45px;
    }
    
    .letra_cinza3 {
        color: grey;
        font-size: 37.5px;
        margin-bottom: 15px;
        text-align: left;
    }
    
    .quadrado_comentarios {
        border: 2.25px solid grey;
        border-radius: 7.5px;
        padding-right: 1050px;
        padding-bottom: 225px;
        padding-top: 10.5px;
        padding-left: 10.5px;
        margin: 7.5px;
        margin-bottom: 22.5px;
    }
    
    .linha_article {
        margin-left: 30px;
        margin-right: 30px;
    }
    @font-face {
        font-family: manu;
        src: url('https://fonts.googleapis.com/css2?family= Areia movediça & display=swap');
    }
    
    .a_categorias {
        text-decoration: none;
        margin: 15px 0;
    }
    
    li {
        list-style-type: none;
    }
    #fps_card {
        background-image: url(https://play-lh.googleusercontent.com/UVVPpEnR8NIiRtarmsbuI171Lin3GtcQoCJOi7BFDv_WajaDreXJT7xB-HR3PxxTH8G7);
        background-size: cover;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        width: 180vh;
        margin-left: 30px;
        margin-right: 30px;
        -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        margin-bottom: 3.75px;
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: 'Quicksand', sans-serif;
    }
    
    #fps_card:hover {
        background-image: url(https://img.freepik.com/fotos-gratis/vista-do-papel-amarrotado-branco_1194-7544.jpg?w=2000);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        width: 180vh;
        margin-left: 15px;
        margin-right: 15px;
        -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        margin-bottom: 3.75px;
        padding-top: 30px;
        padding-bottom: 30px;
        transition: 2s;
        transform: scale(1.1);
    
    }
    
    
    #online_card {
        background-image: url(https://img.freepik.com/vetores-gratis/pessoas-focadas-estudando-na-escola-on-line_74855-5834.jpg);
        background-size: cover;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        width: 180vh;
        margin-left: 30px;
        margin-right: 30px;
        -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        margin-bottom: 3.75px;
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: 'Quicksand', sans-serif;
    }
    
    #online_card:hover {
        background-image: url(https://www.reipel.com.br/wp-content/uploads/2021/05/Papel-40-KG-A4-REIPEL.jpeg);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        width: 180vh;
        margin-left: 15px;
        margin-right: 15px;
        -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        margin-bottom: 3.75px;
        padding-top: 30px;
        padding-bottom: 30px;
        transition: 2s;
        transform: scale(1.1);
    }
    
    #modo_historia_card {
        background-image: url(http://www.isocrm.com.br/wp-content/uploads/independent-thinking-steps.jpg);
        background-size: cover;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        width: 180vh;
        margin-left: 30px;
        margin-right: 30px;
        -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        margin-bottom: 3.75px;
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: 'Quicksand', sans-serif;
    
    }
    
    #modo_historia_card:hover {
        background-image: url(https://pt.canson.com/sites/default/files/styles/large/public/medias-images/canson-fabrication-2.jpg?itok=dPDt-iyl);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        width: 180vh;
        margin-left: 15px;
        margin-right: 15px;
        -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        margin-bottom: 3.75px;
        padding-top: 30px;
        padding-bottom: 30px;
        transition: 2s;
        transform: scale(1.1);
    }
    
    #moba_card {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh8kqnGCc6sA-YSLmTLdAPUGUNqenQPVbWJXO88xLzeq-Bvgv4UvugJePFADlIbDE20t0&usqp=CAU);
        background-size: cover;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        width: 180vh;
        margin-left: 30px;
        margin-right: 30px;
        -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        margin-bottom: 3.75px;
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: 'Quicksand', sans-serif;
    }
    
    #moba_card:hover {
        background-image: url(https://cdn.leroymerlin.com.br/products/papel_de_parede_liso_branco_com_brilho_0,53x10m_1567888997_9fec_600x600.jpg);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        width: 180vh;
        margin-left: 15px;
        margin-right: 15px;
        -webkit-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        -moz-box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        box-shadow: 16px 14px 31px 1px rgba(0, 0, 0, 0.9);
        margin-bottom: 3.75px;
        padding-top: 30px;
        padding-bottom: 30px;
        transition: 2s;
        transform: scale(1.1);
    }
    .first {
        display: inline;
        margin-top: 112.5px;
        text-align: center;
        justify-content: center;
        justify-content: space-between;
    }
    
    .second {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    
    .grupo_de_comentarios_de_pessoas {
        display: inline;
        width: 195vh;
    }
    
    .comentarios_pessoas {
        display: flex;
        margin-left: 5vh;
        padding: 5vh;
        border: solid 2vw gray;
        width: 180vh;
        margin-top: 10vh;
        border-radius: 20vw;
        padding-left: 2vw;
    }
    
    .espacamento {
        margin-left: 5vh;
    }
    
    .postado_por {
        color: grey;
        font-size: 9vh;
        margin-top: 4vw;
        text-align: center;
    }
    
    .ler_mais {
        color: blue;
        text-decoration: underline;
        text-align: center;
        font-size: 5vh; 
    }
    
    .nome_comentario {
        color: black;
        font-size: 8vh;
    }
    
    .titulo_comentario {
        color: black;
        text-align: left;
        width: 180vh;
        font-size: 7vh;
    }
    
    .pessoa{
        width: 15vh;
        height: 15vh;
    }

    .texto_comentario {
        color: black;
        text-align: left;
        font-size: 7vh;
        width: 180vh;
    }
    
    .perfil_post {
        display: flex;
        align-items: center;
    }

    #footerMobile {
        visibility: visible;
        display: inline;
        margin: 0%;
        padding: 0%;
    }

    #footer1 {
        visibility: hidden;
        display: none;
    }

}
