body {
    padding: 0;
    margin: 0;
    background-color: #202020;
}
#title{
    font-size:30px;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: #444444;
    padding:60px;
    border-radius: 6px;
    width:560px;
}

.card-header {
    padding-bottom: 2   0px;
    opacity: 0.8;
    color: whitesmoke;
}

.card-content label {
    color: whitesmoke;;
    font-size: 24px;
    opacity: 0.8;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding:20px 0;
}

.card-content-area input {
    margin-top: 10px;
    padding:0 5px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid whitesmoke;;
    outline: none;
    color: whitesmoke;;
}

.card-footer {
    display: flex;
    flex-direction: column;
}

.card-footer .submit{
    width: 100%;
    height: 40px;
    background-color: #ff0000;
    border:none;
    color:whitesmoke;
    margin: 20px 0;
    font-size: 19px;
}


.card-footer a{
    text-align: center;
    font-size: 24px;
    opacity: 0.8;
    color: whitesmoke;
    text-decoration: none;
}
.recuperar_senha:hover{
    background-color: #ff0000;
    border-radius: 5px;
}
.cadastro:hover{
    background-color: #ff0000;
    border-radius: 5px;
}
.recuperar_senha{
    margin-right: 185px;
    margin-left: 185px;
}
.cadastro{
    margin-top: 20px;
    margin-right: 180px;
    margin-left: 180px;
}
#footer{
    margin: -5px
}

@media (max-width: 650px) {
    body {
        padding: 0;
        margin: 0;
        background-color: #202020;
    }
    #title{
        font-size:30px;
    }
    
    #login {
        display: flex;
        align-items: center;
        justify-content:center;
        height: 100vh;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    
    .card {
        background-color: #444444;
        padding:vh;
        border-radius: 6px;
        width:560px;
    }
    
    .card-header {
        padding-bottom: 2   0px;
        opacity: 0.8;
        color: whitesmoke;
    }
    
    .card-content label {
        color: whitesmoke;;
        font-size: 24px;
        opacity: 0.8;
    }
    
    .card-content-area {
        display: flex;
        flex-direction: column;
        padding:1vh;
    }
    
    .card-content-area input {
        margin-top: 10px;
        padding:0 5px;
        background-color: transparent;
        border:none;
        border-bottom: 1px solid whitesmoke;;
        outline: none;
        color: whitesmoke;;
    }
    
    .card-footer {
        display: flex;
        flex-direction: column;
    }
    
    .card-footer .submit{
        width: 100%;
        height: 40px;
        background-color: #ff0000;
        border:none;
        color:whitesmoke;
        margin: 20px 0;
        font-size: 19px;
    }
    
    
    .card-footer a{
        text-align: center;
        font-size: 24px;
        opacity: 0.8;
        color: whitesmoke;
        text-decoration: none;
    }
    .recuperar_senha:hover{
        background-color: #ff0000;
        border-radius: 5px;
    }
    .cadastro:hover{
        background-color: #ff0000;
        border-radius: 5px;
    }
    .recuperar_senha{
        margin-right: 20vw;
        margin-left: 20vw;
    }
    .cadastro{
        margin-top: 20px;
        margin-right: 20vw;
        margin-left: 20vw;
    }
    #footer{
        margin: -5px
    }
}